html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.page-header {
    background-color: rgb(18, 36, 83);
    display: flex;
    width: 100%;
    color: rgb(42, 42, 42);
    height: 8em;
    vertical-align: middle;
}

.page-header h1 {
    text-align: center;
    margin: auto;
    color: rgb(141, 141, 111);
    font-size: 5em;
    font-family: Arial;
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0em;
}

.profile {
    height: 16em;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 100;

}

.content {
    flex: 1 0 auto;
    margin: .8em 1em;
}

.content hr {

    z-index: 5;
}

footer {
    flex-shrink: 0;
    background-color: rgb(18, 36, 83);
    width: 100%;
    padding-bottom: 1em;
}

.footer-info {
    color: #DFDCC4;
}

.footer-info a {
    color: #DFDCC4;
}

.footer-updated {
    color: #2EA8A9;
    text-align: center;
}

.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
    display: table;
    margin: 0 auto;
}

.flex-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    padding-left: 0;
}

.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid;
}

.assignments li {
    list-style-type: circle;
}