@media screen and (max-width: 500px){
    :root{
      --espacios-contenido: 25px;
    }
    .about {
      width: auto;
    }
    
    .CurrentWeather{
      width: auto;
    }
  
    .content-card{
      width: 90%;
    }
  
    .box-services{
      width: 90%;
      margin-bottom: var(--margins);
    }
  
    .cont-work{
      width: 85%;
    }
  
    .marca-logo{
      width: 80%;
    }
  
    .icons{
      margin: auto;
    }
    iframe {
      width: 300px;

    }
  }